
2SIO_FSI_Adminstration/bin/Debug/2SIO_FSI_Adminstration.exe
2SIO_FSI_Adminstration.sln.DotSettings.user
2SIO_FSI_Adminstration/2SIO_FSI_Adminstration.csproj
2SIO_FSI_Adminstration/2SIO_FSI_Adminstration.csproj
2SIO_FSI_Adminstration/bin/Debug/2SIO_FSI_Adminstration.exe
2SIO_FSI_Adminstration/bin/Debug/2SIO_FSI_Adminstration.pdb
2SIO_FSI_Adminstration/obj/Debug/2SIO_FSI_Adminstration.csproj.AssemblyReference.cache
2SIO_FSI_Adminstration/obj/Debug/2SIO_FSI_Adminstration.csproj.CoreCompileInputs.cache
2SIO_FSI_Adminstration/obj/Debug/2SIO_FSI_Adminstration.csproj.FileListAbsolute.txt
2SIO_FSI_Adminstration/obj/Debug/2SIO_FSI_Adminstration.csproj.GenerateResource.cache
2SIO_FSI_Adminstration/obj/Debug/2SIO_FSI_Adminstration.exe
2SIO_FSI_Adminstration/obj/Debug/2SIO_FSI_Adminstration.pdb
